.conten h1{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 100px;
    color:rgb(255, 255, 255);
    margin-bottom: 120px;
}
.bd{
    width: 100%;
    height: 100vh;
    font-family: 'roboto', sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    
}

.card{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
border: 8px solid #ffffff00;
position: relative;
display: inline-block;

}
.card-img{
    /* padding: 20px; */
   
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 15px;

}
.card-body{
    width: 33%;
    height: 88%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #0c22299c;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    transition: 2s;

}
.card:hover .card-body{
right: 0;
}
.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    font-family: "Playfair Display", serif;

}
.card-sub-title{
    text-transform: capitalize;
    font-size: 20px ;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: #1eff53;


}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    font-family: "Playfair Display", serif;


}
.card-btn{
    color: #000000;
    width: 120px;
    background: #ff6f00;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}
.card-btn:hover{
    background-color: #f5ce58;
   

}
.btn{
   font-size: 15px;
   background-color: #120c2e;
    color:#ffffff ;
    backdrop-filter: blur(0px);
    border: none;
    border-radius: 25px;
    position: relative;
    left: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btns{
    font-size: 15px;
    background-color: #0c0630;
     color:#ffffff ;
     backdrop-filter: blur(0px);
     border: none;
     border-radius: 25px;
     width: 80px;
     height: 30px;
 }
 .btn:hover{

background-color: #b09ee05f;
 }
 .btns:hover{

    background-color: #b09ee05f;
  

     }

 .textinput
    {
        border-radius: 25px;
        background-color: #fff;
        backdrop-filter: blur(0px);
        color: black;
        border: none;
        width: 200px;
        height: 30px;
        right: 100px;

    }